@font-face {
	font-family: 'Conv_Arial_Rounded_MT';
	src: url('fonts/Arial_Rounded_MT.eot');
	src: local('☺'), url('fonts/Arial_Rounded_MT.woff') format('woff'), url('fonts/Arial_Rounded_MT.ttf') format('truetype'), url('fonts/Arial_Rounded_MT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
