@media(max-width:1430px) {
	.navnew { float:left; width:100%; text-align:center;}
	.datanile-nav .navnew li a { padding: 15px 22px !important;}
	.navnew  .homenav { text-align:center; float:none; display:table; margin:0 auto; }
}

@media(max-width:990px) {
	.SearchBy select, .SearchBy input, .SearchBy .btn { margin-top:10px; }
	.SearchBy .paddingl-0 { padding-left:15px; }
}
@media(max-width:959px) {
 .inline-lang { position:relative; right:0; top:0px; display:table; margin:25px auto; background:url(../images/squre-box-sm.png) 10px center no-repeat #E0E0E0;padding: 2px 0px 2px 50px; border-radius:4px;}
.inline-lang { border:1px solid #ccc; }
.form-minheight { min-height:inherit; }
.popmodal .modal-dialog-lg { width:95%; }
.popmodal .modal-title { font-size:20px; }
 
}


@media(max-width:767px) {
.navbar-inverse.datanile-nav { background:#fff; }		
.datanile-nav .navbar-toggle { margin:0 53px 0 0; position:absolute; right:0; top:0; background:#6d6e70; border-color:#6d6e70; height:51px; border-radius:0px; -webkit-border-radius:0px;outline:none; padding: 0 13px; border:0px solid #6d6e70;  }
.datanile-nav .navbar-toggle:focus, .datanile-nav .navbar-toggle:hover { background:#6d6e70; }
.login-btn > span{ display:none; }	
.login-btn { padding:0 16px; height:51px; position:absolute; right:0; top:0; }
.datanile-nav { position:relative;  }	
.login-block { position:static; }
.login-btn .fa { line-height:50px; font-size:1.500em}
.logo { height:auto; width:160px; }
.logo img { max-width:100%; }
.datanile-nav .navbar-nav > li.active > a:after { content:normal; }
.datanile-nav .navbar-nav > li > a {padding:10px 30px; font-size:0.938em; }
.datanile-nav .navbar-nav > li > a:hover {background:#6d6e70; color:#fff; }
.navbar-inverse.datanile-nav .navbar-nav > .active > a, .navbar-inverse.datanile-nav .navbar-nav > .active > a:hover { background:#6d6e70; color:#fff; }
.nav {    padding-left:0px;}
.datanile-nav .navbar-nav > li > a {
    padding: 10px !important; font-size:15px;
}

.login-over:before { right:18px; }
.login-over { top:58px; }
h1{font-size: 3.125em;}
.promo-p { padding:10px 0; }
.steps-section h2 {font-size: 2.500em;}
.translate { padding-bottom:60px;}
.step-img { width:100%;}
.step-img img { max-width:100%;}
.site-row { margin:0; width:100%; padding:10px 20px; }
.site-row-two { margin:0; width:100%; padding:10px 20px; }
.paddingl-0 { padding-left:15px; }
.padding-row { padding-left:0; padding-right:0;}
.siteform-section .btn, .site-section .btn { margin-top:10px; }
.innerpromo-section { display:none; }
.SearchBy select, .SearchBy input, .SearchBy .btn { margin-top:10px;}
.search-btn {right: 105px; top: 4px;}
.ptop {	padding-top:0px;}
.searchbar { width:80%; float:left; top:-10px;}
.logo {  width: 200px; }
.logo {  height:auto;}
.navbar-brand {padding: 8px
}
@media(max-width:500px) {  
h1{font-size: 40px; margin-top: 40px; padding: 0; }
.promo-section p.promo-p { font-size:1.063em; }
.login-over { width:100%; right:0; } 
.lang-box { width:100%; padding:85px 13px 13px 13px; background-position: center 10px; } 
.steps-section h2 { margin-bottom:50px; }
.steps-section .media-left { display: table; padding-bottom: 0px; text-align: center; margin:0px auto; }
.content-section { text-align:center; }
.step-list li { font-size:1.125em; }
.steps-section h2 { font-size: 1.938em }
.site-section .btn, .siteform-section .btn { font-size:13px; padding-top:11px; padding-bottom:11px; }
.search-btn { display:none;}	

.search-btn-mble { right:30%; top: 30px; margin:0px auto; display:block;}
.search-btn-mble input { border-radius:0px; height: 44px; margin:0px auto; width:87%; float:left;}
.search-btn-mble .fa {	font-size: 1.250em;	color: #fff; float:left;background:#b5b5b8;	padding:13px; float:left;}
;}
}
@media(max-width:400px) {  
.search-btn { right:25%; top: 30px;	margin:40px auto; }	
.searchbar { width:80%; float:left; top:-10px;}
.signupwrap input[type="submit"] { font-size:24px; }
.search-btn-mble input { border-radius:0px; height: 44px; margin:0px auto; width:85%; float:left;}

}