*, body, html {
	/*font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;*/
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-weight: 400;
	/* transition: all .4s ease-in; */
}
body {
	background-color: #f3f3f3; 
	font-family: : "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}
/* * {
	transition: all .4s ease-in;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	outline: 0
} */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
a, a:active, a:focus, a:hover {
	outline: 0;
	text-decoration: none
}
a, img {
	border: none;
	outline: 0;
	text-decoration: none
}
h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding:0; font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
artical, aside, audio, canvas, footer, header, nav, section, video {
	margin: 0;
	padding: 0
}
.clearfix {
	clear: both
}
h1 {
	color: #fff;
	font-size: 4.063em;
	padding: 10px;
	margin: 5px 0;
	font-weight: 300
}
h2 {

	color: #404041;
	font-size: 3.375em;
	padding: 10px 0;
	margin: 5px 0;
	font-weight: 300;
	text-align:left;
}
h3 { color:#fff; font-weight:bold;font-weight:900; font-size:30px; margin-left:-10px}
h4 {
    font-size: 18px;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	color:#7f8082;
	font-weight:400;
}
h4 a {
	 font-size: 18px;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	color:#71c15d;
	font-weight:400;
	text-decoration:none;
}
h4 a:hover {
	 font-size: 18px;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	color:#71c15d;
	font-weight:400;
	text-decoration:underline;
}
p {
	padding: 10px 0;
	clear: both;
	font-size: 15px;
	letter-spacing: .5px;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	color: #7f8082;
}
header {
	position: relative;
	background:#fff;
	border-bottom: 2px solid #71c15d;
}
.logo {
	background: #fff;
	padding: 15px 13px;
	height: 85px
}
.navbar-inverse.datanile-nav .navbar-collapse {
	background: #fff;

}
.datanile-nav .navbar-brand.logo:focus, .datanile-nav .navbar-brand.logo:hover {
	background: #fff;
}
.navbar.datanile-nav {
	border: 0 solid transparent;
	margin-bottom: 0;
}
.datanile-nav .navbar-nav>li>a {
	padding: 27px 14px !important;
	font-size: 17px;
	font-weight: 500;
	text-align: center;font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.datanile-nav .navbar-nav>li>a:hover {
	color: #71c15d;
}
.navbar-inverse.datanile-nav .navbar-nav>.active>a, .navbar-inverse.datanile-nav .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #71c15d;
}
.search-btn {
	height: 45px;
	position: absolute;
	right: 160px;
	top: 23px;
	border:#b5b5b8 1px solid;
	cursor: pointer;

}
.search-btn span {
	padding-top: 0px;
	display: inline-block;
	font-size: 1.000em;
	color: #fff;
	top:0px;
	background: #b5b5b8;

}
.search-btn input {
	display: inline-block;
	font-size: 1.000em;
	color: #7f8082;
	background: #fff;
	border:0px;
	width:130px;
	height:36px;
	margin:0px;
 	box-shadow:none;border-radius:0px;
}
.search-btn input:hover {
	border:0px; box-shadow:none;
}
.search-btn input:focus {
	border:0px; box-shadow:none;
}
.search-btn .fa {
	font-size: 1.250em;
	color: #fff;
	background:#b5b5b8;
	padding:13px;

}
.login-btn {

	height: 45px;
	position: absolute;
	right: 23px;
	top: 23px;
	background: #f3ad43;
	cursor: pointer;
	padding: 0 25px
}
.login-btn span {
	padding-top: 13px;
	display: inline-block;
	font-size: 1.000em;
	color: #fff;
	text-transform: uppercase;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight:bold;
}
.login-btn .fa {
	font-size: 1.250em;
	color: #fff
}
.login-block {
	float: right
}
.promo-section {
	background: #71c15d;
	text-align: center;
	color: #fff;
	margin-top: 85px;
}
.promo-p {
	padding: 10px 20%;
	font-family: HelveticaNeueLTStd75Bold;
	font-size: 1.125em
}
.lang-box {
	width: 419px;
	margin: 30px auto;
	background: url(../images/squre-box.png) 20px center no-repeat rgba(0,0,0,.14);
	padding: 23px 26px 23px 100px;
	border-radius: 5px;
	-webkit-border-radius: 5px
}
.search-keyword {
	background: #fff;
	border-radius: 5px;
	border-right:0px;
	-webkit-border-radius: 5px;
	font-size: 15px;
	color: #7f8082;
	text-align: left;
	width: 100%;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

}
.content-section {
	padding: 10px 0 40px
}
.steps-section h2 {
	border-bottom: 1px solid #71c15d;
	padding-bottom: 6px;
	margin-bottom: 20px;
	text-transform:uppercase;
	font-size:35px;

}
.steps-section h2 a {
    border-bottom: 1px solid #f3ad43;
    color: #f3ad43;
    cursor: default;
    padding-bottom: 5px;
    text-decoration: none;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.datanile-nav .navbar-nav>li.active>a:after {
	left: 0;
	right: 0;
	width: 0;
	height: 0;

}
.steps-cont>h4 {
	font-size: 1.625em;
	line-height: 36px;
	color: #7f8082;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.steps-cont>h4 span {
	color:#71c15d;
}
.steps-section .media-left {
	width: 100px;
	height: 100px;
	border-radius:50%;
	background:#71c15d;
	color:#fff;
	text-align: center;
	font-size:45px;
	padding-right:0px;
	line-height:90px;

}

.steps-section .media {
	padding-bottom: 10px;

}
.steps-cont h4>a {
	color: #29b191;
	text-decoration: underline;

}
.steps-cont h4>a:hover {
	color: #f6921e
}
.signupwrap {
	background:#F2F2F2;
	border:1px solid #DBDBDB;
	border-radius:15px;
	padding:30px 35px;
}
.signupwrap input {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	margin:8px 0px;
	color:#fff;
	border-radius:10px;
	color: #b5b5b8;
	font-size:20px;
	font-weight:600;
	border:none;
	padding:22px;
	width:100%;
}
.signupwrap input[type=submit] {
	margin:8px 0px;
	color:#fff;
	border-radius:10px;
	font-size:35px;
	border:none;
	padding:15px 22px;
	width:100%;
	background:#f3ad43;
	text-transform:uppercase;
}
.signupwrap input[type=submit]:hover {
	background:#e39d34;
}
.translate>h4 {
	padding: 20px 0;
	font-size: 1.750em;
	color: #404041;
}
.translate>h4>span {
	color: #f6921e
}
.step-list {
	margin: 0;
	padding: 0;
	list-style: none
}
.step-list li {
	margin: 0 0 0 25px;
	padding: 0;
	list-style: decimal;
	line-height: 1.1;
	font-size: 20px;
	color: #404041
}
footer {
	background:#ceced0;
	text-align:center;
	padding-top:20px;
}
.footer a {
	color:#333;
	text-decoration:none;
	padding:0px 4px;
	font-size:13px;
}
.footer a:hover {
	padding:0px 4px;
	color:#333;
	text-decoration:underline;
}
.footer>p {
	font-size: 11px;
	color: #fff;
	padding: 13px 0;
	text-align: center
}
.btn-input {
	display: block
}
.btn-input .btn.form-control {
	text-align: left
}
.btn-input .btn.form-control span:first-child {
	left: 10px;
	overflow: hidden;
	position: absolute;
	right: 25px
}
.btn-input .btn.form-control .caret {
	margin-top: -1px;
	position: absolute;
	right: 10px;
	top: 50%
}
.select-lang>span {
	float: left;
	width: 100%;
	overflow: hidden;
	padding-left: 16px;
	text-overflow: ellipsis;
	white-space: nowrap
}
.btn-group .btn.select-lang:focus, .btn-group .btn.select-lang:hover, .btn-group.open .dropdown-toggle.select-lang {
	background: url(../images/arrow-lang.png) right center no-repeat #fff;
}
.lang-box .dropdown-menu {
	width: 100%
}
.lang-box .dropdown-menu>li>a {
	padding: 5px 16px;
	font-size: 1.0em
}
.login-over {
	background: #404041;
	width: 260px;
	min-height: 150px;
	position: absolute;
	right: 0;
	top: 68px;
	box-shadow: -1px 3px 5px #666;
	padding: 25px;
	z-index: 11
}
.login-over:before {
	content: "";
	position: absolute;
	margin: 0;
	top: -11px;
	right: 50px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 12px solid #404041
}
.label-text {
	color: #fff;
	font-size: 0.938em;
	display: block;
	font-weight: 300
}
.label-text .forgot-pwd {
	color: #fff
}
.label-text>.signup {
	color: #f3ad43;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.label-text>a {
	font-size: 0.938em;
	text-decoration: underline
}
.login-over .form-control {
	border-radius: 0;
	-webkit-border-radius: 0;
	font-size: 1.0em
}
.login-over .btn-default {
	background-color: #f3ad43;
	border-color: #ffbc56;
	color:#fff;
}
.login-over {
	display: none
}
.login-over .btn-default:hover {
	background-color: #71c15d;
	border-color: #78d361;
	color: #fff
}
.login-over .submit-btn {
	font-size: 1.125em;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding-left: 23px;
	padding-right: 23px
}
.login-over .form-control:focus {
	border-color: #29b191;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none
}
.lang-box .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #f6921e;
	color: #ffffff;
	text-decoration: none
}
.lang-box .dropdown-menu > li > a {
	transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
}
.account-btn {
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	cursor: pointer;
	padding: 0 25px;
	border: none;
}
.account-btn span {
	padding-top: 15px;
	display: inline-block;
	font-size: 1.000em;
	color: #fff;
	text-transform: uppercase;
	border: none;
	font-family: HelveticaNeueLTStd75Bold
}
.account-btn .fa {
	font-size: 1.250em;
	color: #fff
}
.account-block {
	float: right
}
.account-lang {
	padding: 10px 30px 10px 0;
	background: url(../images/arrow-white.png) right center no-repeat #f6921e;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	font-size: 1.125em;
	color: #404041;
	text-align: left;
	width: 100%
}
/**/

.innerpromo-section {
	background: #2ab191;
	height: 17px;
	width: 100%;
	display: table;
}
.site-section {
	background: #71c15d;
	width: 100%;
	display: table;
	padding: 50px 0;
	margin-top : 85px;
}
.site-row {
	display: table;
	margin: 0 auto;
	width: 700px;
}
.siteform-section {
	width: 100%;
	display: table;
	padding: 30px 0;
}

.marginb-0 {
	margin-bottom: 0;
}
.paddinglr-0 {
	padding-left: 0;
	padding-right: 0;
}
.paddingl-0 {
	padding-left: 0;
}
.site-section .btn, .siteform-section .btn {
	width: 100%;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.btn-primary {
	background-color: #29b191;
	border-color: #29b191;
	color: #fff;
}
.btn-primary:hover {
	background-color: #f6921e;
	border-color: #f6921e;
	color: #fff;
}
.btn-info {
	background-color: #f6921e;
	border-color: #f6921e;
	color: #fff;
}
.btn-info:hover {
	background-color: #29b191;
	border-color: #29b191;
	color: #fff;
}
.btn-warning {
	background-color: #404041;
	border-color: #404041;
	color: #fff;
}
.btn-warning:hover {
	background-color: #666;
	border-color: #666;
	color: #fff;
}
.site-section .control-label, .siteform-section .control-label {
	font-size: 16px;
	font-weight: normal;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	color:#7f8082;
}
.control-p {
	font-size: 16px;
	font-weight: normal;
}
.site-textarea {
	min-height: 140px;
	background: #f5f5f5;
	color: #656565;
	width: 100%;
	padding: 16px 20px;
}
.site-textarea-sm {
	min-height: 10px;
	background: #f5f5f5;
	color: #656565;
	width: 100%;
	padding: 16px 20px;
}
.help-line {
	display: table;
	width: 100%;
	padding: 10px 0;
	font-size: 1em;
}
.results-section .container {
	border-top: 4px solid #d3d3d3;
	margin-top: 20px;
	margin-bottom: 20px;
}
.table-results h3 {
	margin-bottom: 10px;
	font-size: 1.6em;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
}
.table-results {
	padding-top: 50px;
}
/*.table-results .table-striped > tbody > tr:first-child {
    background-color: #fff;
}*/
.table-results .table-striped > tbody > tr:nth-child(2n+1) {
	background-color: #fff;
}
.table-results .table-striped > tbody > tr:nth-child(even) {
	background-color: #f5f5f5;
}
.table-results .table tr > th {
	padding-top: 18px;
	padding-bottom: 18px;
	background: #f5f5f5;
	border-bottom-width: 0px;
	font-size: 1.1em;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
}
.table-results .table-striped > tbody a {
	color: #f6921e;
}
.table-results .table tr > th, .table-results .table tr > td {
	padding-left: 16px;
	padding-right: 16px;
}
/*.inline-lang { position:absolute; right:150px; top:7px; display:table; background:url(../images/squre-box-sm.png) 10px center no-repeat #E0E0E0;padding: 0px 0px 0px 50px;}
.inline-lang .select-lang { background-color:transparent; border:0px solid; width:200px; box-shadow:0px 0px 0px #ccc; }
.inline-lang:active, .inline-lang:hover, .inline-lang:focus { background-color:#fff; }*/



.inline-lang {
	position: absolute;
	right: 150px;
	top: 5px;
	display: table;
	background: url(../images/squre-box-sm.png) 10px center no-repeat #E0E0E0;
	padding: 2px 0px 2px 50px;
	border-radius: 4px;
}
.inline-lang .select-lang {
	background-color: transparent;
	border: 0px solid;
	width: 200px;
	box-shadow: 0px 0px 0px #ccc;
}
.inline-lang:active, .inline-lang:hover, .inline-lang:focus {
	background-color: #fff;
}
.btn-group.inline-lang.open .dropdown-toggle.select-lang {
	box-shadow: 0px 0px 0px #ccc;
	background-color: transparent;
}
.padding-t0 {
	padding-top: 0px !important;
}
.padding-t25 {
	padding-top: 25px;
}

.form-minheight {
	min-height: 300px;
}
.dropdown-menu {
	width: 100%;
}
.inline-lang .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
	background-color: #f6921e;
	color: #ffffff;
	text-decoration: none;
}
.site-section .btn, .siteform-section .btn {
	padding-top: 8px;
	padding-bottom: 8px;
}
.form-control {
	height: 41px;
}
.popmodal .btn {
	width: auto;
}
.popmodal .modal-header {
	background: #29b191;
	border-bottom: 1px solid #29b191;
	min-height: 16.43px;
	padding: 15px;
}
.popmodal .modal-title {
	color: #fff;
	font-size: 23px;
}
.popmodal .modal-header .close {
	font-size: 38px;
	color: #fff;
	opacity: 1;
	margin-top: -6px;
}
.popmodal .modal-content {
	overflow: hidden;
	border-radius: 10px;
}
.popmodal p {
	font-size: 16px;
}
.popmodal .modal-dialog-lg {
	width: 800px;
}
.SearchBy .control-label {
	text-align: left;
}
.search-input-bar-btn {
	background:#cce7c3;
	border-radius :  5px ;
	border:0px;
	color:#4b9d36;
    padding: 10px;
}
.search-input-bar li a {
	font-size:45px;
}
.breadcrumbs-row {

	font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	padding:5px 0px;
	color:#b6b7ba;
	font-weight:bold;
	font-size:16px;

}
.breadcrumbs-row a {
	color:#71c15d;
	text-decoration:none;
	font-weight:bold;
}
.breadcrumbs-row a:hover {
	color:#71c15d;
	text-decoration:underline;
	font-weight:bold;
}
.whtbg {
	background:#fff;
}
.whtbgcontainer {
	background:#fff;
	border-radius:8px;
	padding:20px;
	margin:10px auto;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow:scroll;
}
.data-row {
	margin:20px auto;
	background:#f8fbf6;
	padding:20px 5px;
	margin-left:-20px;
	margin-right:-20px;

}
.site-sectioninner {
	background: #71c15d;
	width: 100%;
	padding: 30px 0;
	margin-top: 85px;
}
.info-row {
	background:#f3ad43;
	padding:15px;
	border-radius:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	margin:-20px;
	margin-bottom:20px;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	letter-spacing:0.5px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.info-green-row {
	font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	background:#71c15d none repeat scroll 0 0;
	padding:10px;
	margin-top:-20px;
	margin-left: -35px;
	width: 102.7%;
	margin-bottom:20px;
	color:#fff;
	font-weight:bold;
	font-size:25px;
	letter-spacing:0.5px;
}
.ptop {
	padding-top:20px;
}
.tab-content {
	border: #f3ad43 solid 1px;
	clear:both;
	border-top:0px
}
.tab-btns {
	background:#71c15d;
	border-radius:3px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	margin-right:5px;
}

.tab-btns:hover {
	color:#fff;
	background:#4da737
}
.tab-btns:focus {
	color:#fff;
}

.tab-btns-orng {
	background:#f3ad43;
	border-radius:3px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family: 'Conv_Arial_Rounded_MT',Sans-Serif;
	margin-right:5px;
	white-space: normal;
}

.tab-btns-orng:hover {
	color:#fff;
	background:#f49300
}
.tab-btns-orng:focus {
	color:#fff;
}
.site-row-two {
	display: table;
	margin: 0 auto;
	width: 800px;
}
.search-btn-mble {
	display:none;}


header .navbar-inverse{ background:#fff;}

.modal-header{
	background: none repeat scroll 0 0 #f3ad43;
	border-radius: 5px 5px 0px 0px;
	font-family: "Conv_Arial_Rounded_MT",sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.input-large {
	height: 46px;
	border-radius: 7px;
}











