<form class="form-horizontal" id="account-form" onsubmit="return false;">

    <div class="form-group">
        <label class="col-sm-4 control-label" for="username">Username</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <span><%= username %></span>
        </div>
    </div>
	
    <div class="form-group">
        <label class="col-sm-4 control-label" for="First Name">First Name</label>
        <div class="col-sm-4" style="margin-top: 8px;">
           <span><%= user_first_name %></span>
        </div>
    </div>
   
    <div class="form-group">
        <label class="col-sm-4 control-label" for="Last Name">Last Name</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <span><%= user_last_name %></span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-4 control-label" for="Email">Email</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <span><%= user_email %></span>
        </div>
    </div> 
         
    <div class="form-group">
        <label class="col-sm-4 control-label" ></label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <button class="btn tab-btns-orng" style="width: 100px;" id="edit">Edit</button>
        </div>
    </div>      	
   
</form>
 