<% _.each(items, function(item, index) { %>
   
    <li> 
        <% if ( item.type != "text") { %>
            <a href="<%= item.link %>">
        <% } %>
    	
    	<%= item.title %>
    	
        <% if ( item.type != "text") { %>
            </a>
        <% } %> 
     </li>
<% }); %>
<li class="active"><%= active %></li>