<p>
  <button type="button" class="btn btn-primary">Stop emails for tag "Stock"</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Stop emails from vault "India Info"</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Stop emails from user "Tom"</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Stop all highlight emails</button>
</p>