<% if (status == "badcode") { %>
	We cannot give you a new password.<br><br>
	Please make sure that you copied the URL from the email exatly.
<% } else { %>

	Your username is: <b><%= username %></b><br>
	Your new password is: <%= password %><br>
	<br>
	Please change your password as soon as possible.
<% } %>