<form class="form-horizontal" id="forgot-password-form" onsubmit="return false;">
    	
    	<div class="form-group" id="username_group">
				<label class="col-sm-2 control-label" for="username">Username</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="username" value="<%= username %>"> 
					<span class="help-danger help-block" id="username_danger"></span>
				</div>
		</div>
    
    	<div class="form-group">
    		<label class="col-sm-2 control-label"></label>
			<div class="col-sm-4">
				   <span>or</span>
			</div>
		</div>
		
    	<div class="form-group" id="user_email_group">
			<label class="col-sm-2 control-label" for="Email">Email</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="user_email" value="<%= user_email %>"> 
				<span class="help-danger help-block" id="user_email_danger"></span>
			</div>
		</div>
		
		<div class="form-group" id="user_email_group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-4">
    			<button type="submit" class="btn tab-btns">Email a new password</button>
			</div>
		</div>
		
</form>