<div class="content-section steps-section">
	<div class="container">
		<div class="row" style="text-align: center;">
			
			<div class="col-lg-12 col-md-12">
			
		
				<p><a href="/#login"  >Existing user ? Login</a></p>
				<p><a href="/#register" >New user ? Register</a></p>
				
			</div>
		</div>
	</div>
</div>