<% _.each(items, function(item, index) { %>
    <li class="<% if (item.name == active) print("active") %> <% if (!_.isUndefined(item.className)) print(item.className)  %>">
    <%if ( !_.isUndefined(item.title)) { %>
            <a href="<%= item.link %>">
    		<%= item.title %>
            </a>
        <% } %>    
    </li>
<% }); %>