<ul>
 
<% if (page_active > 1) { %>
    <li><a href="<%= link %><%= page_active-1 %>">«</a></li>
<% } %>
<% if (left_dots == true) {%>
    <li><a href="<%= link %>1">1</a></li>
    <li class="disabled"><a href="#">...</a></li>
<% } %>

<% for (var i = nav_begin; i <= nav_end; i++) { %> 
    <li <% if (page_active == i) print('class="active"') %> ><a href="<%= link %><%= i %>"><%= i %></a></li> 
<% } %>

<% if (right_dots == true) {%>
    <li class="disabled"><a href="#">...</a></li>
    <li><a href="<%= link %><%= page_count %>"><%= page_count %></a></li>
<% } %>

<% if (page_active < page_count) { %>
    <li><a  href="<%= link %><%= page_active+1 %>">»</a></li>
<% } %>
</ul>