
		<div class="panel panel-default col-sm-6 col-sm-offset-3 form-box">
			<form class="form-horizontal panel-body" id="register-form" onsubmit="return false;">

				<div class="form-group" id="user_first_name_group">
					<div class="col-sm-6">
						<input type="text" class="form-control input-large" id="user_first_name" placeholder="First name">
						<span class="help-danger help-block"  id="user_first_name_danger"></span>
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control input-large" id="user_last_name"  placeholder="Last name">
						<span class="help-danger help-block" id="user_last_name_danger"></span>
					</div>
				</div>

				<div class="form-group" id="user_email_group">
					
					<div class="col-sm-12"> 
						<input type="text" class="form-control input-large" id="user_email" value="<%= user_email %>" placeholder="Email">
						<span class="help-danger help-block"  id="user_email_danger"></span>
					</div>
				</div>

				<div class="form-group" id="user_password_group">
					<div class="col-sm-12">
						<input type="password" class="form-control input-large" id="user_password" placeholder="Password" >
						<span class="help-danger help-block" id="user_password_danger"></span>
					</div>
				</div>

				<div class="form-group" id="confirm_password_group">
					
					<div class="col-sm-12">
						<input type="password" class="form-control input-large" id="confirm_password" placeholder="Confirm Password">
						<span class="help-danger help-block"  id="confirm_password_danger"></span>
					</div>
				</div>
				<div class="form-group" id="mobile_number_group">
					<div class="col-sm-12">
						<input type="text" class="form-control input-large" id="mobile_number" placeholder="Mobile #" > 
						<span class="help-danger help-block" id="mobile_number_danger"></span>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						<button id="registerFormButton" type="submit" style="width: 100%; background-color: #286090; border-color: #286090;" class="btn btn-primary btn-lg">Create New Account</button>
 					</div>
				</div>
				<p><a href="/#login" >Existing user ? Sign in</a></p>
			</form>
		</div>