<form class="form-horizontal" id="sign-in-form" role="form" onsubmit="return false;">

				<div class="form-group" id="username_group">
					<label class="col-sm-2 control-label" for="username">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="username" value="<%= username %>">
						<span class="help-error help-block" id="username_danger"></span>
					</div>
				</div>


				<div class="form-group" id="user_password_group">
					<label class="col-sm-2 control-label" for="user_password">Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="user_password" value="<%= user_password %>">
						<span class="help-error help-block" id="user_password_danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-4">
						<button type="submit"  class="btn tab-btns">Sign in</button>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
    					<a href="#sign-up">New user, sign up here.</a><br>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<a href="#forgot">Forgot your password?</a><br>
					</div>
				</div>
</form>
 