<form class="form-horizontal" id="account-form" onsubmit="return false;">

    <div class="form-group">
        <label class="col-sm-4 control-label" for="username">Username:</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <span><%= username %></span>
        </div>
    </div>
	
    <div class="form-group">
        <label class="col-sm-4 control-label" for="First Name">Full Name:</label>
        <div class="col-sm-4" style="margin-top: 8px;">
           <span><%= user_first_name %>&nbsp;<%= user_last_name %></span>
        </div>
    </div>
   
    <div class="form-group">
        <label class="col-sm-4 control-label" for="Created">Created:</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <span><%= DateHelper.calculateDuration(user_created_dtime) %></span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-4 control-label" for="Datasets">Data Sets:</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <a href="javascript: void(0)" class="view_data_sets" id="<%= username %>" >view</a>
        </div>
    </div> 
    
     <div class="form-group">
        <label class="col-sm-4 control-label" for="Mashups">Mashups:</label>
        <div class="col-sm-4" style="margin-top: 8px;">
            <a href="javascript: void(0)" class="view_mashups" id="<%= username %>" >view</a>
        </div>
    </div>
    
    
    <div class="form-group">
        <label class="col-sm-4 control-label" ></label>
        <div class="col-sm-4" style="margin-top: 8px;">
        	
        	<input type="checkbox" id="block_alerts" > Stop highlight emails from this user
            
        </div>
    </div>      	
   
</form>
 