<div class="login-btn"><span>Sign In &nbsp;</span> <i class="fa fa-chevron-circle-down"></i></div>
  <div class="login-over">
    <form role="form" id="sign-in">
      <div class="form-group">
        <input type="text" placeholder="Enter username" id="username_head" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" id="user_password_head" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-default submit-btn" type="submit">Sign In</button>
      </div>
      <label class="label-text"><a href="#forgot" class="forgot-pwd">Forgot Password?</a> </label>
      <label class="label-text">New User, <a href="#sign-up" class="signup"> Sign Up</a> </label>
    </form>
  </div>