<!-- 
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   <b>  <%= window.sess.username %> </b>
   <b class="caret" style="border-top-color: white;"></b>
</button>

<ul class="dropdown-menu" role ="menu" id="user-menu"></ul>
 -->
<div class="login-block">
  	 <div class="login-btn"><span><%= window.sess.username %> &nbsp;</span> <i class="fa fa-chevron-circle-down"></i></div>
     <div class="login-over">
      	<form role="form">
	        <div class="form-group">
	         <a href="#account">Account</a>
	        </div>
	        <div class="form-group">
	        <a href="#sign-out">Signout</a>
	        </div>
        </form>
    </div>
</div>