<h1>Welcome to DataNile</h1>

<p>Before you start using DataNile, you need you to activate your account by clicking the link below.</p>
<br />

<a style="width: 50%; text-decoration: none; display: inline-block; color: rgb(255, 255, 255); padding: 8px 0px; margin-bottom: 0px; font-size: 17px; line-height: 20px; text-align: center; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(91, 183, 91); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); text-shadow: 0px -1px 0px; background-image: linear-gradient(to bottom, rgb(98, 196, 98), rgb(81, 163, 81)); background-repeat: repeat-x;" href="{{link}}" target="_blank">Activate Your Account</a>

<br />
<br />
<br />

Thank you,<br />

Team DataNile 
